.nav-ul {
  list-style: none;

}

.nav-ul li{
display: inline;
margin: 5px;

}

.product-listing {
  display: flex;
  flex: 1;
  flex-wrap:wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  margin: 20px auto;
  width: 95%;
  background-color: white;
}

 .product-item {
width: 300px;
margin: 15px;
text-align: center;
}

.image-placeholder {
  width:150px;
  height: 150px;
  background-color: red;
  color: white;
  border: solid 1px white;
  margin-bottom: 10px;
}

.input-bar{
  height: 50px;
  width: 200px;
  margin: 30px auto;
}

.movie-list{
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-container {
  background-color: white;
  width: 450px;
  height: 500px;
  border: solid 1px rgb(145, 180, 112);
  margin: 10px;
  text-align: center;
  overflow: auto;
  box-shadow: 2px;
}